.content {
    margin: 0 40px;

}

table{
    border-collapse: collapse;
    margin: 25px auto;
    width: calc(100% - 74px);
    min-width: 640px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr{
    text-align: left;
    font-weight: bold;
}

table th, table td{
    padding: 12px 15px;
}

table tbody tr{
    border-bottom: 1px solid var(--c-border-primary);
    transition: all 0.5s ease;
}

table tbody tr:nth-of-type(even){
    background-color: var(--c-bg-tb-even);
}

table thead{
    border-bottom: 2px solid rgba(0, 0, 0, 0.20);
}

.center-cell{
    text-align: center;
}
 
#addButton{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #0471FF;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    float: right;
    cursor: pointer;
    transition: all 0.2s ease;
}

.content-header{
    margin-inline: 40px;
}

@media (max-width: 980px){
    .content-header{
        margin-inline: 0;
    }
}

.table-container{
    clear: right;
    overflow-x: auto;
}

.actions a{
    cursor: pointer;
    text-decoration: none;
    color: var(--c-text-primary);
    margin-inline: 3px;
}

.input-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--c-text-primary);
}

.input-boxes .box-item{
    margin-bottom: 25px;
}

.input-boxes .box-item input{
    background-color: var(--c-bg-sidebar);
    border: 1px solid var(--c-border-primary);
    border-radius: 6px;
    height: 28px;
    color: var(--c-text-primary);
    padding-inline: 10px;
    width: 190px;
}

.userModalBtn{
    border: none;
    padding: 10px 25px;
    float: right;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: #0471FF;
    color: #fff;
    font-weight: 500;
}

.rolSelector{
    background-color: var(--c-bg-sidebar);
    border: 1px solid var(--c-border-primary);
    border-radius: 6px;
    height: 28px;
    color: var(--c-text-primary);
    padding-inline: 10px;
    width: 190px;
}

.status-active, .status-deactive{
    padding: 3px 5px;
    border-radius: 10px;
    font-weight: 500;
}

.status-active{
    color: #fff;
    background: green;
}

.status-deactive{
    color: #fff;
    background: red;
}